
@media only screen and (max-width: 400px) {
    .container{
        width: 100%;
    }
    .headSec{
        width: 100%;
    }
    .bodySec{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .imageSec img{
        width: 80%;
    }
    .headSec div{
        font-size: 2rem;
    }
    .textSec{
        width: 80%;
    }
  } 
  