.container {
  width: 100%;
  box-shadow: 1rem 1rem 1rem rgb(205, 201, 201);
}
.childContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  padding: 1rem;
}
.logoSec {
  width: 20%;
}
.manuSec {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.hembergar {
  display: none;
}
@media only screen and (max-width: 400px) {
  .childContainer {
    padding: 1rem;
  }
  .hembergar {
    display: flex;
  }
  .logoSec {
    width: 80%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .logoSec div {
    font-size: 1rem;
    font-weight: 600;
  }
  .manuSec {
    display: none;
  }
}
