.container {
  width: 100%;
}
.childContainer {
  width: 100%;
  position: relative;
}
.bigimage {
  width: 100%;
}
.bigimage img {
  width: 100%;
}
.contantSec {
  position: absolute;
  left: 35%;
  bottom: 15%;
  color: white;
}
.contantSec div img {
  width: 50%;
}

.contantSec div h2 span{
  color: blue;
}
@media only screen and (max-width: 400px) {
  .container {
    width: 100%;
    padding-bottom: 2rem;
  }
  .childContainer {
    width: 100%;
    position: relative;
    height: 35vh;
  }
  .bigimage {
    width: 100%;
  }
  .bigimage img {
    width: 100%;
    height: 40vh;
  }
  .contantSec {
    position: absolute;
    left: 6%;
    bottom: 6%;
    color: white;
    font-size: 0.5rem;
  }
  .contantSec div img {
    width: 35%;
  }
  .contantSec div h2{
    font-size: .85rem;
    line-height: 1.2rem;
  }
  /* .contantSec div h2 span{
    color: blue;
  } */
  .contantSec div a{
    border: 1px solid white;
  }
}
