.project_container {
  width: 99%;
}
.ChaliContainer {
  width: 100%;
}
.projecthead {
  box-shadow: 1rem 1rem 1rem rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: .5rem;

}
.projecthead h4{
  font-size: 1rem;
}

.skillsChaliContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.projectBox {
  width: 32%;
  box-shadow: 1rem 1rem 1rem rgb(226, 224, 224);
  padding: 1rem;
}
.projectBox img {
  width: 100%;
}
.projectBox h1 {
  font-size: 1rem;
  color: blue;
  font-family: "Roboto";
  font-weight: 700;
  padding: 1rem;
}
.projectBox p {
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 500;
}
.projectBox h2 {
  font-size: 1rem;
  font-family: "Roboto";
  color: blue;
  font-weight: 300;
  padding: .5rem;
}
.projectBox img {
  width: 100%;
}
.techSec {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}
.tech {
  width: 20%;
}
.tech img{
  width: 50%;
}
.tech h5{
  font-size: .7rem;
  font-weight: 400;
}
.codesec {
  width: 98%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

}
.codebtn {
  width: 100%;


}
.btnSec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  

}
.btnSec button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: blue;
  border: none;
  box-shadow: 0.5rem 0.55rem 0.5rem rgb(85, 85, 236);
}
.btnSec button  {
  color: white;
}
@media only screen and (max-width: 400px) {
  .project_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem 0rem 1rem 0rem;
  }
  .projectBox {
    width: 95%;
    box-shadow: 1rem 1rem 1rem rgb(164, 164, 214);
    padding: 0.5rem;
  }
  .projectBox h1 {
    font-size: 2rem;
    color: blue;
    font-family: "Roboto";
    font-weight: 700;
  }
  .projectBox h3 {
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: 500;
  }
  .projectBox h5 {
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: 300;
  }
  .projectBox img {
    width: 100%;
  }
  .techSec {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
  }
  .tech {
    width: 20%;
  }
  .codesec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
  }
  .codebtn {
    width: 33.33%;
    display: flex;
    justify-content: space-between;
  }
  .btnSec {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .btnSec button {
    width: 47%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: blue;
    border: none;
    box-shadow: 0.5rem 0.55rem 0.5rem rgb(85, 85, 236);
  }
  .btnSec button a {
    color: white;
  }
}
