.skill_container {
  width: 100%;
}
.skillBox{
  width: 100%;
}
.skillshead{
  box-shadow: 1rem 1rem 1rem rgb(212, 212, 212);
  width: 100%;
}
.skillsecond{
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}
.skill_box{
  border: 1px solid black;
  width: 23%;
  padding: 1rem;
}
.skill_box img{
  width: 40%;
}
@media only screen and (max-width: 400px) {
  .skill_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skillBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
  }
  .skillshead {
    width: 100%;
    color: blue;
    box-shadow: 1rem 1rem 1rem rgb(202, 202, 247);
  }
  .skill_box {
    width: 45%;
    border: 1px solid rgb(226, 207, 207);
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 1rem 1rem 1rem rgb(203, 203, 247);
  }
  .skill_box img {
    width: 50%;
  }
  .skill_box h1 {
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: 500;
  }
}
